.htaccess
.buildpath
.settings/*
.project

vendor/*

application/.htaccess
application/index.html
application/cache/*

application/core/*
application/errors/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/index.html
application/logs/*
application/third_party/index.html

index.php
cgi.php
license.txt
composer.lock