.htaccess
.buildpath
.settings/*
.project

vendor/*
user_guide/*
system/*

application/.htaccess
application/index.html
application/cache/*
application/controllers/index.html
application/controllers/welcome.php
application/models/index.html
application/views/index.html
application/views/welcome_message.php

application/core/*
application/config/*
application/errors/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/index.html
application/logs/*
application/third_party/index.html

index.php
cgi.php
license.txt
composer.lock