.htaccess
.buildpath
.settings/*
.project

vendor/*

application/.htaccess
application/index.html
application/cache/*
application/config/autoload.php
application/config/config.php
application/config/database.php
application/config/doctypes.php
application/config/foreign_chars.php
application/config/hooks.php
application/config/index.html
application/config/migration.php
application/config/mimes.php
application/config/profiler.php
application/config/routes.php
application/config/smileys.php
application/config/user_agents.php

application/controllers/*
application/views/*
application/core/*
application/errors/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/index.html
application/logs/*
application/models/*
application/third_party/index.html

index.php
cgi.php
license.txt
composer.lock