<phpunit
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
    backupStaticAttributes="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    syntaxCheck="false"
    cacheTokens="true"
    verbose="false"
    bootstrap="../application/third_party/CIUnit/bootstrap_phpunit.php">
    <filter>
        <whitelist>
            <directory>../application/libraries/CI_Code_Generator</directory>
        </whitelist>
    </filter>
</phpunit>


